<html>

<body>
  <div class="page d-flex">
    <form action="http://localhost:3000/">
      <button class="page-button" type="submit">回到首頁</button>
    </form>
    <h1>Contact</h1>
  </div>
  <div class="item">
    <form action="http://localhost:3000/about">
      <button class="item-button" type="submit">About</button>
    </form>
    <form action="http://localhost:3000/portfolio/">
      <button class="item-button" type="submit">Portfolio</button>
    </form>
    <form action="http://localhost:3000/contact">
      <button class="item-button" type="submit">Contact</button>
    </form>
  </div>
</body>

</html>